@import "style";

html, body {
  background-color: #263238;
  color: #eee;
}

nav a, .nav a {
  color: #eee;
}

.card {
  background-color: #2f3b41;
  color: #eee
}

.stats-card .stats .value {
  color: #eee;
}

.link {
  color: #eee;
}

.stats-card .header a {
  color: #eee;
}