
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

.small {
  font-size: 0.8rem;
}

pre {
  overflow-x: scroll;

  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
  "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

  background-color: #353535;
  color: #eeeeee;
  padding: 8px;
  border-radius: @global-radius*2;
}

.bold {
  font-weight: bold;
}

.red, .error, .danger {
  color: @red;
}

.green, .success {
  color: @green;
}

.heading {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.title {
  //color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.subtitle, .title {
  word-break: break-word;
}