<% include head.ejs %>

<div class="container">

    <div class="center">
        <h1>This is UPTIME, its a work in development.</h1>

        <div class="row">
            <div class="col-6">
                <h2>Master</h2>
                <p>The master server is where you access the interface to view reports, manage monitors and users.</p>
            </div>
            <div class="col-6">
                <h2>Slave</h2>
                <p>The slave is a service that runs on other servers that report back to the master, this is for
                    monitoring sites from different locations and sites that may only be accessible from behind a
                    firewall.</p>
            </div>
        </div>
    </div>

</div>
<% include foot.ejs %>
