<% include ../head.ejs %>

<div class="container">

    <h1 class="center">New Site</h1>

    <form action="/sites/new" method="post">

        <div class="row">
            <div class="col-6">
                <label for="name">Site Name</label>
                <input class="u-full-width" type="text" placeholder="My Website" id="name" name="name">
            </div>
            <div class="col-6">
                <label for="url">URL</label>
                <input class="u-full-width" type="url" placeholder="http://example.org" id="url" name="url">
            </div>
        </div>
        <input class="btn primary" type="submit" value="Submit">

    </form>

</div>

<% include ../foot.ejs %>