<% include ../head.ejs %>

<div class="container">

    <% var data = {
        name: site.name,
        uptime: site.uptime,
        iconSource: site.icon ? site.icon : null,
        responseTime: site.responseTime,
        apdex: site.apdex,
        outages: site.outages,
        up: site.up
    }
    %>

    <% include ../_card.ejs %>

    <a href="/sites/<%-site.id%>/edit" class="btn primary">Edit</a>

</div>

<% include ../foot.ejs %>